<p>3 Cosas que necesito para alcanzar mis metas profesionales:</p>
<p>-Dedicar aun mas tiempo al estudio, todos los temas que veo ahora son abrumadores, y necesitan mas de tiempo para salir, tambien este es el semestre mas pesado de la carrera</p>
<p>-Enfocarme en un area de interes, tomo materias de varias areas por el gusto, pero tengo que dar prioridad en las que pienso trabajar</p>
<p>-Mejorar mis habilidades de programacion, esta clase la disfruto mucho, pero tengo mucha deficiencia en varias areas, mejore mucho con javascript, pero angular-js sigue estando muy bajo mi nivel.</p>
<p>Auth0 lambda mandada por correo...</p>
