<div class="jumbotron">
  <h1>Cloud Computing</h1>
</div>

<div class="row marketing">
  <h4>Download Link for ACT1</h4>
  <a href="https://s3.amazonaws.com/vubz/HW/HW1.pdf" download="filename">Tarea1</a>
  <a href="https://s3.amazonaws.com/vubz/HW/HW1.sh" download="filename">Bash</a>
  <a href="https://s3.amazonaws.com/vubz/HW/Gruntfile.js" download="filename">GruntFile</a>
</div>
<div class="row marketing">
  <h4>Download Link for ACT2</h4>
  <a href="https://s3.amazonaws.com/vubz/HW/ACT2/Tarea+2.docx" download="filename">Tarea2</a>
  <a href="https://s3.amazonaws.com/vubz/HW/ACT2/NodeRequestBucketDate/app.js" download="filename">BucketDate</a>
  <a href="https://s3.amazonaws.com/vubz/HW/ACT2/CloudFormation/serverless.yml" download="filename">Yaml</a>
  <a href="https://s3.amazonaws.com/vubz/HW/ACT2/CloudFormation/createBucket.js" download="filename">CreateBucket</a>
</div>

<div>
  <h4>Download Link for ACT3</h4>
  <a ng-href="#!/homework3">Homework 3 </a>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-106081129-1', 'auto');
  ga('send', 'pageview');

</script>
